#Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.Po

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.appe./genesis.py -f $PAR_FILE > $GENESIS_LOG_FILE
## or with C code

# ReSCAL outputs
*.png
*.log
*.gz
*.csp

# LC log files
*.core

# Autoconf, libpng, make and  configure
*.Po
.deps
autom4te.cache
config.log
config.status
configure
.deps
oprofile_data
*.data
*.csp
*.png
*.log
Makefile
Makefile.in
config.h
config.h.in
bin2png
csp2bin
csp2png
cspinfo
genesis
regenesis
rescal
stamp-h1
zlib.pc
zconf.h
lib/libpng-1.6.34/Makefile.in
lib/libpng-1.6.34/aclocal.m4
lib/zlib-1.2.11/Makefile
lib/zlib-1.2.11/zconf.h
